* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  font-family: "Urbanist", sans-serif;
  font-size: 100%;
  font-style: normal;
  text-decoration: none;
  color: #ffffff;
  border: none;
}

html, body {
  background: #1F2025;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.container {
  background: transparent url("../img/first-section/background-mibile.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: 5.99%;
}
@media screen and (min-width: 768px) {
  .container {
    background: transparent url("../img/first-section/background-tablet.png");
    background-position-y: 6.3%;
  }
}

button, a {
  cursor: pointer;
}

img {
  pointer-events: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #333;
}

::-webkit-scrollbar-thumb {
  background-color: #205BF1;
  border: 2px solid rgba(255, 255, 255, 0.181);
}

.threeSquares {
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0px;
  gap: 12px;
  width: 100%;
  opacity: 0.1;
}
.threeSquares div {
  width: 8px;
  height: 8px;
  background: #FFFFFF;
}

.header {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px;
  width: 100%;
  height: 64px;
}
@media screen and (min-width: 768px) {
  .header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.header__logo {
  width: 108.75px;
  height: 30px;
  background: transparent url("../img/logo.png");
  background-size: 100%;
}
@media screen and (min-width: 768px) {
  .header__logo {
    width: 116px;
    height: 32px;
  }
}
.header__nav {
  margin-left: -10px;
  margin-bottom: -4px;
}
@media screen and (min-width: 768px) {
  .header__nav {
    margin-left: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 30px;
    gap: 20px;
  }
}
.header__nav__open__menu {
  margin-top: -5px;
  width: 18px;
  height: 18px;
}
.header__nav__list li {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.header__nav__list .fiveLinks {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__nav__list .fiveLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
  }
}
.header__nav__list .twoLinks {
  display: none;
}
.header__button__request {
  background: #205BF1;
  padding: 10px 15px;
  -webkit-box-shadow: 0px 5px 15px rgba(32, 91, 241, 0.2);
          box-shadow: 0px 5px 15px rgba(32, 91, 241, 0.2);
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
}
@media screen and (min-width: 768px) {
  .header__button__request {
    position: absolute;
    right: 20px;
    padding: 15px 20px;
  }
}

.sectionOne {
  position: relative;
}
.sectionOne__div__text {
  margin: auto;
  margin-top: 55px;
  width: 335px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .sectionOne__div__text {
    width: 708px;
    margin-top: 100px;
    gap: 30px;
  }
}
.sectionOne__title {
  width: 290px;
  height: 144px;
  font-weight: 900;
  text-transform: capitalize;
  font-size: 2.5rem;
  line-height: 3rem;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .sectionOne__title {
    width: 100%;
    height: 188px;
    font-size: 78px;
    line-height: 94px;
  }
}
.sectionOne__text {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.625rem;
}
@media screen and (min-width: 768px) {
  .sectionOne__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }
  .sectionOne__text::after {
    content: " Yes, it just takes a few minutes!";
  }
}
.sectionOne .buttons {
  margin-top: 35px;
}
.sectionOne .buttons button {
  font-size: 1rem;
  display: block;
}
@media screen and (min-width: 768px) {
  .sectionOne .buttons {
    margin: auto;
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
    width: 406px;
    height: 64px;
  }
  .sectionOne .buttons button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 64px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.sectionOne__button__request {
  background: #205BF1;
  margin: auto;
  padding: 20px 30px;
  width: 177px;
  height: 64px;
  -webkit-box-shadow: 0px 5px 15px rgba(32, 91, 241, 0.2);
          box-shadow: 0px 5px 15px rgba(32, 91, 241, 0.2);
}
.sectionOne__button__video {
  margin: 20px auto 0px;
  width: 130px;
  height: 54px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.sectionOne__button__video img {
  width: 24px;
  height: 24px;
  display: none;
}
.sectionOne__button__video .text__button {
  height: 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
@media screen and (min-width: 768px) {
  .sectionOne__button__video {
    gap: 15px;
    width: 189px;
    height: 64px;
  }
  .sectionOne__button__video img {
    display: inline-block;
  }
}
.sectionOne .sectionOne__images {
  margin-top: -35px;
}
.sectionOne .sectionOne__images .images__mobile {
  width: 100%;
  height: auto;
}
.sectionOne .sectionOne__images .images__tablet {
  display: none;
}
@media screen and (min-width: 768px) {
  .sectionOne .sectionOne__images {
    margin-top: 0;
  }
  .sectionOne .sectionOne__images .images__mobile {
    display: none;
  }
  .sectionOne .sectionOne__images .images__tablet {
    width: 100%;
    height: auto;
    display: block;
  }
}
.sectionOne .images {
  margin-top: 40px;
  position: relative;
  border: 2px solid white;
}
.sectionOne .images .section__image {
  -webkit-box-shadow: -8px -8px 0px rgba(0, 0, 0, 0.15), 8px 8px 0px rgba(31, 32, 37, 0.15), 20px 20px 100px rgba(0, 0, 0, 0.4);
          box-shadow: -8px -8px 0px rgba(0, 0, 0, 0.15), 8px 8px 0px rgba(31, 32, 37, 0.15), 20px 20px 100px rgba(0, 0, 0, 0.4);
}
.sectionOne .images .image__profile__timer {
  position: absolute;
  top: 10px;
  left: -35px;
  width: 130px;
  height: 60px;
}
.sectionOne .images .image__profiles {
  display: none;
}
.sectionOne .images .image__task__big {
  position: absolute;
  width: 220px;
  height: 140px;
  left: 50%;
  top: 110px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}
.sectionOne .images .image__statistics {
  width: 173px;
  height: 200.9px;
  position: absolute;
  right: -120px;
}
.sectionOne .container__companies {
  padding: 30px 20px;
  margin-top: -100px;
}
@media screen and (max-width: 340px) {
  .sectionOne .container__companies {
    padding: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}
.sectionOne .companies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 300px;
  height: 350px;
}
.sectionOne .companies ul {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.sectionOne .companies__title {
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
.sectionOne .companies li {
  width: 100%;
  gap: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.03);
}
.sectionOne .companies li .figma {
  width: 18px;
  height: auto;
}
.sectionOne .companies li img {
  width: 27px;
  height: auto;
}
.sectionOne .companies li .github {
  width: 25.5px;
  height: auto;
}
.sectionOne .companies li span {
  width: 45px;
  height: 24px;
  font-weight: 700;
  font-size: 1rem;
  line-height: 24px;
}

.sectionTwo {
  background: transparent url("../img/section-02/background.png");
  background-size: 73%;
  background-repeat: no-repeat;
  background-position: -95px 10px;
}
.sectionTwo .sectionTwo__container {
  padding-top: 30px;
}
.sectionTwo .dashboard {
  background: transparent url("../img/section-02/dashboard.png");
  background-size: contain;
  margin: auto;
  margin-bottom: 60px;
  width: 335px;
  height: 230px;
  -webkit-filter: drop-shadow(-8px -8px 0px rgba(0, 0, 0, 0.15)) drop-shadow(8px 8px 0px rgba(31, 32, 37, 0.15)) drop-shadow(20px 20px 100px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(-8px -8px 0px rgba(0, 0, 0, 0.15)) drop-shadow(8px 8px 0px rgba(31, 32, 37, 0.15)) drop-shadow(20px 20px 100px rgba(0, 0, 0, 0.4));
}
.sectionTwo .create__layouts {
  width: 335px;
  margin: auto;
}
.sectionTwo .create__layouts__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  gap: 20px;
  text-align: center;
}
.sectionTwo .create__layouts__text h3 {
  font-weight: 900;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.sectionTwo .create__layouts__text h2 {
  font-weight: 900;
  font-size: 28px;
  line-height: 130%;
}
.sectionTwo .create__layouts__text h2 .text__red {
  color: #F12052;
}
.sectionTwo .create__layouts__text p {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}
.sectionTwo .create__layouts .container__picture {
  margin-top: 51px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sectionTwo .create__layouts .container__picture picture img {
  margin: auto;
  width: 175.5px;
}

.sectionThree__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 80px;
  gap: 20px;
  margin: auto;
  width: 339px;
}
.sectionThree__text .analytics {
  width: 129px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.sectionThree__text .analytics__image {
  background: #F12052;
  padding: 8px;
}
.sectionThree__text .analytics__image img {
  width: 20px;
  height: 20px;
}
.sectionThree__text .analytics h3 {
  font-weight: 900;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.sectionThree__text h2 {
  font-weight: 900;
  font-size: 22px;
  line-height: 34px;
}
.sectionThree__text p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
}
.sectionThree .container__image {
  background: transparent url("../img/section-03/task-list.png");
  background-size: contain;
  width: 335px;
  height: 310px;
  margin: 30px auto;
  -webkit-filter: drop-shadow(-8px -8px 0px rgba(0, 0, 0, 0.15)) drop-shadow(8px 8px 0px rgba(31, 32, 37, 0.15)) drop-shadow(20px 20px 100px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(-8px -8px 0px rgba(0, 0, 0, 0.15)) drop-shadow(8px 8px 0px rgba(31, 32, 37, 0.15)) drop-shadow(20px 20px 100px rgba(0, 0, 0, 0.4));
}

.sectionFour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  padding: 30px 20px 0px;
  width: 100%;
  margin-bottom: 30px;
}
.sectionFour__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  gap: 30px;
  width: 100%;
}
.sectionFour__text__titles {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
  height: 108px;
}
.sectionFour__text__titles h3 {
  height: 16px;
  font-weight: 900;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.sectionFour__text__titles h2 {
  font-weight: 900;
  font-size: 28px;
  line-height: 130%;
}
.sectionFour__text__titles h2 span.text__blue {
  color: #205BF1;
}
.sectionFour__text .section__p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  gap: 20px;
}
.sectionFour__text .section__p div {
  border-left: 2px solid rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 5px 20px;
  gap: 15px;
  isolation: isolate;
}
.sectionFour__text .section__p div h4 {
  font-weight: 900;
  font-size: 18px;
  line-height: 26px;
}
.sectionFour__text .section__p div p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
}
.sectionFour__text .section__p__one {
  border-color: #205BF1 !important;
}
.sectionFour .container__image img {
  width: 100%;
  height: auto;
}

.sectionFive {
  padding: 30px 20px;
}
.sectionFive__container {
  width: 100%;
  background: rgba(255, 255, 255, 0.1) url("../img/section-05/background.png");
  background-position-x: right;
  background-size: 44%;
  background-repeat: no-repeat;
}
.sectionFive__container .built__for__development {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 20px;
  isolation: isolate;
  width: 100%;
  height: 379px;
}
.sectionFive__container .built__for__development .sectionFive__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  gap: 20px;
  text-align: center;
}
.sectionFive__container .built__for__development .sectionFive__text h2 {
  width: 100%;
  font-weight: 900;
  font-size: 28px;
  line-height: 130%;
}
.sectionFive__container .built__for__development .sectionFive__text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.sectionFive__container .built__for__development button {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 20px 20px 30px;
  gap: 30px;
  width: 225px;
  height: 64px;
  background: #205BF1;
  -webkit-box-shadow: 0px 5px 15px rgba(32, 91, 241, 0.2);
          box-shadow: 0px 5px 15px rgba(32, 91, 241, 0.2);
}
.sectionFive__container .built__for__development button .button__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
  gap: 10px;
  width: 24px;
  height: 24px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.sectionSix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 20px;
  padding-bottom: 0px;
  gap: 10px;
  width: 100%;
  height: auto;
}
.sectionSix__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  gap: 30px;
  width: 335px;
  height: 582px;
}
.sectionSix__container__image {
  width: 100vw;
  height: 320px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #ffffff));
  background: linear-gradient(to bottom, transparent 50%, #ffffff 50%);
}
.sectionSix__container__image .image {
  background: url("../img/section-06/graph-mobile.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: auto;
  width: 335px;
  height: 100%;
  border: 1px solid rgba(31, 32, 37, 0.05);
  -webkit-box-shadow: 10px 10px 80px rgba(31, 32, 37, 0.15);
          box-shadow: 10px 10px 80px rgba(31, 32, 37, 0.15);
}
.sectionSix__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  gap: 20px;
  width: 100%;
  height: 232px;
  text-align: center;
}
.sectionSix__text h2 {
  font-weight: 900;
  font-size: 28px;
  line-height: 130%;
}
.sectionSix__text h2 .text__yellow {
  color: #e9900c;
}
.sectionSix__text p {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

.sectionSeven {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 20px;
  gap: 10px;
  width: 375px;
  margin: auto;
}
.sectionSeven .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  gap: 20px;
  margin-top: 20px;
}
.sectionSeven img {
  width: 100%;
  height: auto;
}
.sectionSeven .text__blue {
  color: #205BF1;
}
.sectionSeven .posts__header {
  width: 100%;
  height: 75px;
  margin-bottom: 40px;
}
.sectionSeven .posts__header__title {
  font-weight: 900;
  font-size: 28px;
  line-height: 130%;
  margin-bottom: 15px;
}
.sectionSeven .posts__header__text__blue {
  width: 146px;
  height: 24px;
}
.sectionSeven .posts__header__text__blue span {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.sectionSeven .posts__header__text__blue img {
  width: 16px;
  height: auto;
  margin-left: 10px;
}
.sectionSeven .posts__video {
  display: none;
}
.sectionSeven .posts__text__blue span {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin-right: 10px;
}
.sectionSeven .posts__text__blue img {
  width: 16px;
  height: auto;
}
.sectionSeven .posts__article {
  margin-bottom: 40px;
}
.sectionSeven .posts__article .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  gap: 8px;
  width: 83px;
  height: 20px;
}
.sectionSeven .posts__article .icon img {
  width: 16.67px;
  height: auto;
}
.sectionSeven .posts__article .icon span {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #1F2025;
}
.sectionSeven .posts__blog .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  gap: 10px;
  width: 105px;
  height: 24px;
}
.sectionSeven .posts__blog .icon img {
  width: 16.67px;
  height: auto;
}
.sectionSeven .posts__blog .icon span {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #1F2025;
}
.sectionSeven .posts__blog h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

.containerWhite {
  background: #ffffff;
  padding-top: 30px;
}
.containerWhite .threeSquares div {
  background: #1F2025;
}
.containerWhite h1, .containerWhite h2, .containerWhite h3, .containerWhite h4, .containerWhite p, .containerWhite span, .containerWhite li, .containerWhite a {
  color: #1F2025;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  isolation: isolate;
  width: 100%;
  background: rgba(31, 32, 37, 0.02);
  border-top: 1px solid rgba(31, 32, 37, 0.05);
  margin: auto;
  margin-top: 30px;
}
footer .more {
  background: transparent url("../img/footer/background.png");
  background-repeat: no-repeat;
  background-position: right -20px;
  background-size: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 40px 20px;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
footer .more .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  gap: 30px;
  width: 335px;
  margin: auto;
}
footer .more .column div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  gap: 25px;
  width: 152.5px;
}
footer .more .column div h1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
footer .more .column div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  gap: 15px;
  width: 100%;
}
footer .information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 20px;
  gap: 10px;
  width: 100%;
  height: 140px;
  border-top: 1px solid rgba(31, 32, 37, 0.03);
}
footer .information .rights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  gap: 12px;
  width: 215px;
  height: 56px;
}
footer .information .rights .copyright {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}
footer .information .rights .privacy__terms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  gap: 12px;
  width: 197px;
  height: 24px;
}
footer .information .rights .privacy__terms span {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  opacity: 0.5;
}
footer .information .socialNetworks {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  gap: 20px;
  width: 100%;
  height: 24px;
}/*# sourceMappingURL=main.css.map */