@use "./variables";
@import "./breakpoints";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Urbanist', sans-serif;
  font-size: 100%;
  font-style: normal;
  text-decoration: none;
  color: variables.$text-color;
  border: none;
}

html, body {
  background: variables.$background-color-dark;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.container {
  background: transparent url("../img/first-section/background-mibile.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: 5.99%;
  @include tablet {
    background: transparent url("../img/first-section/background-tablet.png");
    background-position-y: 6.3%;
  }
}

button, a {
  cursor: pointer;
}

img {
  pointer-events: none;
}