$background-color-dark: #1F2025;
$background-color-white: #F5F5F5;
$background-color-analytics: #F12052;

$text-color: #ffffff;
$text-color-red: #F12052;
$text-color-blue: #205BF1;
$text-color-yellow: #e9900c;
$text-color-dark: #1F2025;

$sideline-color-blue: #205BF1;

$button-color: #205BF1;